<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>
<h1>List of All Songs:</h1>
<div id="filter_div">
	<h2>Filter By Title:</h2>
	<input id="title_filter" type="text">
</div>

<div class="song_div" ng-repeat="song in song_list">
	<h1> {{song.TrackName}}  by:  {{song.Artist}} </h1>
	<button ng-click="details(song.TrackId)">details</button>
</div>

<div class="your_list">
	<button id="view_list">View your list</button>
</div>